<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iss.workshop.adprojectmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DepartmentHeadHomePageActivity"></activity>
        <activity android:name=".activity.Store.DisbursementListActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHNMTRIbyTlFWugBR81KZYK33G3eZl1zA" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activity.Store.RaisePurchaseOrderSubmitActivity" />
        <activity android:name=".activity.Store.RaisePurchaseOrderActivity" />
        <activity android:name=".activity.Store.ReceiveGoodsActivity" />
        <activity android:name=".activity.Store.DiscrepencyListActivity" />

        <activity android:name=".activity.Store.StoreClerkHomePageActivity" />
        <activity android:name=".activity.Staff.RaiseRequestActivity" />
        <activity android:name=".activity.Staff.ConfirmDisbursementDistributionActivity" />
        <activity android:name=".activity.ConfirmDisbursementCollectionActivity" />
        <activity android:name=".activity.Staff.CollectionPointLocationsActivity" />
        <activity android:name=".activity.Staff.RepresentativeMenuActivity" />
        <activity android:name=".activity.DelegateAuthorityActivity" />
        <activity android:name=".activity.Store.StationeryRetrievalActivity"></activity>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Store.InventoryCheckActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"></meta-data>
        </activity>
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>